.image {
  .image-info {
    margin: 5px;

    .image-info-item {
      // @include module;
      background-color: $background;
      font-size: 0.9em;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }
}
