.weather {
  // min-width: 300px;

  .weather-heading {
    @include module;
    font-weight: bold;
    font-size: 1em;
  }

  .weather-section {
    color: $foreground;
    border-radius: 1em;
    background: $background-transparent;
    padding: 1em;
    &:hover {
      background-color: $background-secondary;
    }
    .main {
      min-width: 150px;
    }
  }

  .weather-subheading {
    font-weight: bold;
    font-size: 0.875em;
  }

  .weather-icon-large {
    font-size: 6em;
  }

  .weather-temp-large {
    font-size: 2em;
    font-weight: bold;
  }

  .weather-description {
    font-size: 0.875em;
  }

  .weather-feels-like {
    font-size: 0.75em;
  }

  .weather-detail {
    font-size: 0.875em;
    opacity: 0.8;
    .icon {
      font-size: 1.5em;
    }
    &.sun-detail {
      .sun {
        font-size: 2em;
      }
    }
  }

  .forecast-label {
    font-size: 0.6875em;
  }

  .forecast-value {
    font-size: 0.8125em;
    font-weight: bold;
  }

  .hourly-item {
    .hourly-icon {
      font-size: 2em;
    }
    .hourly-time {
      font-size: 0.7em;
    }
    .hourly-temp {
      font-weight: bold;
    }
  }
}
